<div class="navbar">
    <section class="">
          <!-- Right Nav Section -->
          <ul class="right">
            <li><a href="/rotainterview">Home</a></li>
            <li><a href="/rotainterview/views/OrderEntry.php">Order Entry</a></li>
            <li><a href="/rotainterview/views/OrderItemEntry.php">Order Item Entry</a></li>
            <li><a href="/rotainterview/views/OrderList.php">Order List</a></li>
            <li><a href="/rotainterview/views/OrderItemList.php">Order Item List </a></li>
        </ul>
    </section>
</div>