/* Navigation bar styling */
.navbuttonslist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(49, 23, 100);
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2vw 2.2vw;
    text-decoration: none;
}
/* Page Content styling */
.pagecontent {
    display: grid;
    grid-template-columns: auto;
    /*margin-top: 10vw;*/
    margin: 10vw 10vw ;
}

h1 {
    display: flex;
    justify-content: center;
}